*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
.card {
  box-sizing: border-box;
  width: 300px;
  background: #fff;
  border-radius: 15px;
  /* border: 1px solid #E7662A; */
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-16px);
   transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  height: auto;
}

/* Image wrapper */
.card-image {
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

/* Hover effect only on image */
.card:hover .card-image {
  transform: scale(1.1);
}
.card-body{
      padding: 10px;
}
.card-btn{
  visibility: hidden;
      width: 100%;
      height: 30px;
      border-radius: 7px;
      background: linear-gradient(135deg, #36aab9, #14565E);
      border: none;
      color: white;
      font-weight: 700;
      cursor: pointer;
}
.card:hover .card-btn{
  visibility: visible;
}