:root {
  --primary: #0b74de;
  --bg: #ffffff;
  --text: #333333;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #36aab9, #14565E);
 

  padding: 0.8rem 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary);
}

.navbar-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  cursor: pointer;
  font-weight: 700;
   color:#E7662A;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-links li:hover {
  color:red;
  text-decoration:underline;
  transform: translateY(-2px);
  
}
/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
  }

  .navbar-links li {
    padding: 0.5rem 0;
    width: 100%;
  }
}
